.btn-search{
    width: 20%;
    background-color: var(--color-tetiary);
    border-radius: 0 6rem 6rem 0;
    cursor: pointer;
    text-align: center;
    position: relative;
}

.btn{
    font-size: 1.7rem;
    height: 4rem;
    width: 12rem;
    border-radius: 7rem;
    font-family: inherit;
    font-weight: 400;
    border: 2px solid var(--color-tetiary);
    color: var(--color-tetiary);
    background: transparent;
    cursor: pointer;
    transition: all .2s;

    &:hover{
        background-color: var(--color-tetiary);
        color: var(--color-black);
        box-shadow: .5rem .5rem 1rem rgba(0, 0, 0, 0.624);
    }

    &:focus{
        transform: translateY(.5rem);
    }
}


.see-more{
    color: var(--color-tetiary);
    border: none;
    font-weight: 600;
    background: none;
    font-size: 1.4rem;
    margin-right: 2rem;
    cursor: pointer;
    transition: all .2s;

    @media screen and (min-width: 43.8em) {
       padding: 0 1rem;
    }

    @media screen and (min-width: 72em) {
        background-color: var(--color-secondary);
        border-radius: 6rem;
        height: 4rem;
        margin-top: 1%;
        color: var(--color-primary);
     }

    &:hover{
        background-color: var(--color-tetiary);
         color: var(--color-secondary);
    }
}

.imgs{
    height: 100%;
    width: 100%;
    transform: scale(1.5);
}


.add-to-cart{
    font-size: 1.7rem;
    height: 3rem;
    width: 12rem;
    border-radius: 6rem;
    font-family: inherit;
    font-weight: 400;
    border: none;
    background-color: var(--color-tetiary);
    color: var(--color-primary);
    margin-top: 1rem;
    cursor: pointer;

    &:focus{
        outline: 1px solid var(--color-tetiary);
    }
    
    
}

.fa {
   
    font-size: 2rem;
    width: 5rem;
    text-align: center;
    text-decoration: none;
  }

  .fa-facebook {
    padding: 1rem;
    background: #3B5998;
    color: white;
  }
  
 
  .fa-twitter {
    padding: 1rem;
    background: #55ACEE;
    color: white;
  }

  .icon{
      font-size: 3rem;
      color: var(--color-tetiary);
  }
   .cart{
      color: var(--color-primary);
  }

  .cart-number{
      position: absolute;
      font-size: 1.8rem;
      top: -5%;
      right: -10%;
      padding: .1rem .5rem;
      border-radius: 50%;
      font-weight: 500;
      background-color: var(--color-tetiary);
      text-align: center;
      border: 2px solid var(--color-primary);
      color: var(--color-primary);
  }

  .fa-star-o{
      padding: 0;
      background-color: var(--color-tetiary);
      background-clip: text;
      -webkit-background-clip: text;
      display: inline-block;
      color: transparent;
  }

  .fa-search{
      color: var(--color-primary);
      font-weight: 400;
      position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);


  }

  .cart{
      color: var(--color-primary);
  }

  .block{
      display: none;

      @media screen and (min-width: 43em) {
          display: block;
      }
  }

  .display{
      display: none;

      @media screen and (min-width: 18.75em) {
          display: block;
      }
  }

  .display2{
    @media screen and (min-width: 18.75em) {
        display: none;
    }
  }
