.company-name{
    font-family: inherit;
    color: var(--text-color-secondary);
    font-weight: 400;
}
.product,
    .login h3{
    font-family: inherit;
    color: var(--text-color-tetiary);
    font-weight: 400;
    text-decoration: none;
    font-size: 1.5rem;
    cursor: pointer;
    
    border-radius: .2rem;
    transition: all .3s ease-in-out;

    &:hover{
        background-color: var(--color-tetiary);
        color: var(--background-color);
       
    }

    @media screen and (min-width: 60em) {
        font-size: 2rem;
        padding: 1rem;
    }
}

.landingPage-header{
    font-size: 4rem;
    text-shadow: 1rem 1rem 1rem var(--color-black);
    color: white;
}

.categories-header{
    display: inline-block;
    padding: .5rem;
    font-size: 1.7rem;
    font-weight: 500;
    border-bottom: 2px solid var(--color-tetiary);
    width: 60%;
    text-transform: uppercase;
    margin-bottom: 1rem;
    color: var(--color-secondary);

    @media screen and (min-width: 72em) {
        width: 30%;
        font-size: 1.9rem;
        }
}

.categories-name{
    font-weight: 400;

    @media screen and (min-width: 43.8em) {
        font-size: 2rem;
        position: absolute;
        display: block;
        width: 50%;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: var(--color-tetiary);
    }
}

.discription{
    font-size: 2rem;
    font-weight: 400;
    margin-top: 1rem;
    text-align: center;
}

.price{
    margin-top: 1rem;
    font-size: 1.7rem;
    font-weight: 500;
    color: grey;
    text-align: center;
}

.footer-text-1{
    font-size: 2rem;
    color: var(--color-primary);
    text-align: center;
}


.footer-text-2{
    font-size: 1.7rem;
    color: var(--color-primary);
    text-align: center;
}

.product-name{
    font-size: 3rem;
    font-weight: 400;
    display: block;
    color: (--color-black);
}

.brand{
    font-size: 2.5rem;
    display: block;

    &__title{
        font-size: 2.05rem;
        font-weight: 600;
    }

    &__name{
        font-size: 2rem;
    }
}

.product-price{
    font-size: 3.5rem;
    display: block;
    font-weight: 600;
}

.shipping{
    font-size: 2.4rem;
    display: block;
    color: var(--color-tetiary);
}

.cart-header{
    font-size: 2.3rem;
    color: var(--color-black);
    display: block;
    text-transform: uppercase;
}

.greeting{
    display: block;
    font-size: 2rem;
}

.user-gmail{
    display: block;
    font-size: 1.8rem;
}

.user-amount{
    font-size: 2rem;
    font-weight: 500;
}

.user-header{
    font-size: 1.5rem;
    text-transform: uppercase;
    display: inline-block;
    color: rgba(148, 144, 144, 0.904);

}

.numberOfPeopleRated{
    margin-left: 3rem;
    color: var(--color-blue);
    text-decoration: underline;
    cursor: pointer;
    font: 2rem;
}
