
:root{

    // COLORS
    --background-color: #eaeff8;
    --color-primary: #FFFFFF;
    --color-secondary: #041e42;
    --color-tetiary: #ffc220;
    --color-black: #000000;


    // TEXT COLOR

    --text-color-primary: #000;
    --text-color-secondary: #F5F5F5;
    --text-color-tetiary: #FCED70;

}
